<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="page-products">
    <header class="app-header">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" href="/admin/add-product">Add Product</a>
    </header>
    <main class="app-main">
        <h1 class="page-title">Products</h1>
        <% if(hasProducts) { %>
            <section class="products">
                <% products.forEach(product=> { %>
                    <article class="product-card">
                        <img class="product-img" src="/images/product-placeholder.webp" alt="Product photo">
                        <div class="product-info">
                            <h2>
                                <%= product.title %>
                            </h2>
                            <p class="product-description product-description">
                                <%= product.description %>
                            </p>
                            <p class="price">
                                <%= product.price %>
                            </p>
                        </div>
                    </article>
                    <% }) %>
            </section>
            <% } else { %>
                <h1 class="empty-state">No products added yet</h1>
                <% } %>
    </main>
</body>

</html>